<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="text-warning">Production jobs</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" (click)="addNewGoals()" class="btn btn-sm btn-outline-warning">
          + Add New Goal
        </button>
        <button type="button" class="btn btn-sm btn-outline-warning">Export</button>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu"  class="btn btn-warning btn-sm">
        <mat-icon>more_vert</mat-icon>
      </button>

    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="OnDelete()">
      <mat-icon >delete</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-menu-item >
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item>
      <mat-icon>content_copy</mat-icon>
      <span>Duplicate</span>
    </button>
  </mat-menu>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th></th>
        <th scope="col">Harness Ref</th>
        <th scope="col">Project</th>
        <th scope="col">Family</th>
        <th scope="col">Production line</th>
        <th scope="col">Status</th>
        <th scope="col">Demanded quantity</th>
        <th scope="col">Delivered quantity</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let JobGoal of jobGoals | async">
        <tr>
          <td>
            <mat-checkbox
              [checked]="checkedJob.getValue() === JobGoal.id"
              (change)="Uncheck(JobGoal.id, $event)"
            ></mat-checkbox>
          </td>
          <td><a href="javascript:;">{{JobGoal.ref}}</a></td>
          <td>{{JobGoal.harness.project.name}}</td>
          <td>{{JobGoal.harness.family}}</td>
          <td>{{JobGoal.production_line.name}}</td>
          <td [class]="JobGoal.status === 0 ? 'text-warning' : 'text-success'">
            {{JobGoal.status === 0 ? 'Open' : 'Closed'}}
          </td>
          <td>{{JobGoal.demanded_quantity}}</td>
          <td [classList]="[ JobGoal.delivered_quantity > 0 ? 'text-warning' : 'text-danger', 'fw-bolder']" class="fw-bolder">
            {{JobGoal.delivered_quantity}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</main>


