<div class="container-fluid" style="height: 90vh;background-color: lightblue">
  <div class="raw  d-flex justify-content-center">
    <div class="card col-3 mt-3 " >
      <div class="card-header blue-bg-color text-white">
        Info
      </div>
      <div class="card-body">
        <p>Reference: <span class="blue-color">R00032</span> </p>
        <p>Objective: <span class="blue-color">100 UNIT</span> </p>
        <p>Delivered: <span class="blue-color">80 UNIT</span>  </p>
        <p>Rest: <span class="blue-color">20 UNIT</span> </p>
        <hr>
        <p>Project: <span class="blue-color"> PPT12</span> </p>
        <p>Line: <span class="blue-color"> PPT12</span> </p>
        <p>Operator: <span class="blue-color"> Ayoub lemrachhaq</span> </p>
      </div>
    </div>


    <div class="card col-5 mt-3 " >
      <div class="card-header orange-bg-color text-white">
        Step 1
      </div>
      <div class="card-body">
        <p class="text-center">
          <img src="https://cdn1.iconfinder.com/data/icons/logistics-delivery-line-vol-1-1/74/barcode__scanning__gun__electronics-512.png"
               class="img-fluid" width="200px">
        </p>
        <h5 class="card-title">Please Scan The Box Reference</h5>

        <input class="form-control" type="text" autofocus (keyup)="onScan()">
        <br>
        <p class="card-text">Be careful to scan the correct <span class="orange-color fw-bold">code barre</span></p>
        <a href="#" class="btn orange-bg-color mt-3 text-white text-end">Next</a>
      </div>
    </div>
  </div>
</div>
