<div class="container-fluid bg-light h-100" >
  <div class="raw  d-flex justify-content-around h-100" >
    <div class=" col-2 mt-3  bk-glass-blue  ">
      <div class="glass card p-2 h-100" >
        <p><span class="light-blue-color">Production line:</span> <span class="orange-color"> Lad 1 </span></p>
        <p><span class="light-blue-color">Operator:</span>  <span class="orange-color"> 987456</span></p>
        <hr>
        <p class="light-blue-color">project: <span class="orange-color"></span></p>
        <p class="light-blue-color">Family: <span class="orange-color"></span></p>
        <p class="light-blue-color">Current Reference: <span class="orange-color">1233654</span></p>
        <hr>
        <p>Current Box: <span class="blue-color">{{packagingBox.getValue().barcode }}</span></p>
<!--        <p>Qantity: <span class="blue-color fw-bolder">{{packagingBox.getValue().quantity }}</span>-->
<!--        </p>-->
<!--        <p>Picked: <span class="blue-color fw-bolder">{{delivredQuantity.getValue()}}</span></p>-->
<!--        <p>Rest: <span-->
<!--          class="blue-color fw-bolder"></span>-->
<!--        </p>-->
        <canvas #myPieChart></canvas>
      </div>
    </div>


    <div class="glass col-7 mt-3 px-3">
      <div class="d-flex justify-content-around mt-3">
        <p class="light-blue-color">Current Box: <span class="orange-color">{{packagingBox.getValue().barcode }}</span></p>
        <p class="light-blue-color">Qantity: <span class="orange-color fw-bolder">{{packagingBox.getValue().quantity }}</span>
        </p>
        <p class="light-blue-color">Picked: <span class="blue-color fw-bolder">{{delivredQuantity.getValue()}}</span></p>
        <p class="light-blue-color">Rest :<span class="blue-color fw-bolder">{{packagingBox.getValue().quantity - delivredQuantity.getValue()}}</span> <span
          class="blue-color fw-bolder"></span>
        </p>
      </div>

      <div class="card-body m-3 glass " >
        <form  class="mt-2"  [formGroup]="packagingForm">
        <mat-stepper #stepper [selectedIndex]="activeStep.getValue()"  [linear]="true" headerPosition="bottom"  class="border-primary">
          <mat-step [editable]="isEditable" >
            <ng-template matStepLabel>Press Enter</ng-template>
            <div class="text-center" style="height:50vh!important;">
              <br>
              <img src="/assets/images/steps/entre.png" width="400px">
              <br>
            </div>
          </mat-step>

          <ng-container *ngFor="let step of packagingStepsAll.getValue()">
            <mat-step [editable]="isEditable" >
<!--              <ng-template matStepLabel class="orange-bg-color">{{step.description}}</ng-template>-->
              <div class="row ">
                <div class="col-5 my-auto mx-auto ">
                  <h2 class="card-title orange-color fw-light col-12 ">{{step.description}}</h2>
                  <div class="col-12 d-flex flex-column justify-content-center mt-5">
                    <input autofocus class="form-control border-2 border-primary"
                           formControlName="{{step.name}}"  [id]="'step'+step.order.toString()"
                           required>
                  </div>
                </div>

                <div class="col-7">
                  <p class="text-center">
                    <img class="img-fluid" [src]="step.img"  alt="">
                  </p>
                </div>
              </div>
            </mat-step>
          </ng-container>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="row">
              <div class="col-7">
                <p class="text-center ">
                  <img class="img-fluid" src="assets/images/steps/lableScanner.png" width="300px">
                </p>
              </div>
              <div class="col-5 d-flex flex-column justify-content-center">
                <h4 class="card-title orange-color display-6 ">Scan the lable</h4>
                <form  class="mt-2">
                  <input autofocus class="form-control border-2 border-primary"
                         id="2CtrlInput"
                         required>
                </form>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
        </form>
      </div>
    </div>

    <div class="bk-glass-orange col-2 mt-3 p-3 ">
      <div class="">
        <p> Delivered packages </p>
        <hr>
        <p class="orange-color">Date: <span class="light-blue-color"> {{ currentTime | date: 'dd/MM/yyyy' }}</span></p>
        <p class="orange-color">Time:<span class="light-blue-color">{{ currentTime | date: 'HH:mm:ss' }}</span></p>
        <hr>
        <div class="" style="height: 300px;">
          <canvas id="myChart2"></canvas>
        </div>
<!--        <p>Date: <span class="text-dark"> {{ currentTime | date: 'dd/MM/yyyy' }}</span></p>-->
<!--        <p>Current Time:<span class="text-dark">{{ currentTime | date: 'HH:mm:ss' }}</span></p>-->

      </div>
    </div>
  </div>
</div>
