/* You can add global styles to this file, and also import other style files */
.blue-color{
color: rgb(13, 110, 253)!important;
}

.blue-bg-color{
  background-color: rgb(13, 110, 253)!important;
}
.orange-bg-color{
  background-color: orangered!important;
}

.orange-color{
  color: orangered !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
